
<h1>Login</h1>


<form method="post" enctype="multipart/form-data">
    <!-- CSRF Token de segurança -->
    <!-- OBS: Sempre coloca-lo dentro do form  -->
    <!-- https://stackoverflow.com/questions/5207160/what-is-a-csrf-token-what-is-its-importance-and-how-does-it-work -->
    {% csrf_token %}

    {% if messages %}
    <div>
        {% for message in messages %}
        {{ message }}
        {% endfor %}
    </div>
    {% endif %}

    <div>
        <label for="email">Email</label>
        <input type="text" name="email" id="email" placeholder="Email" required>
    </div>

    <div>
        <label for="senha">Senha</label>
        <input type="password" name="senha" class="form-control" id="senha" placeholder="Senha" required>
    </div>

    <button type="submit">Enviar</button>
</form>
